#containerwish{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    color:rgb(26, 25, 25);
    grid-gap:5%;
    padding:5%;
    width:90%;
    margin-bottom: 10%;
    text-align: center;
    padding-bottom: 30%;
   
}
#containerwish>div{
    background-color:whitesmoke;
}
#containerwish>div:hover{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
img{
    height:60%;
    width:100%
}
#flexwish{
    margin-top:4% ;
    margin-bottom: 4%;
  display:flex;
  justify-content: space-around;
}
p,h4{
    margin-left:0px;
    margin-top:2%;  
}
h4{
    margin-bottom:3%;
    font-size:15px;
    font-family: Helvetica,Arial,sans-serif;
}
#bagwish{
    color:white;
    width:90%;
    height:30px;
    font-size:small;
    border:0;
    margin-top:-10px;
    background-color:rgb(230, 20, 125);
    border-radius:15px;
    display:block;
    margin:auto;
}

#percentoffwish{
    color:red;
}

h2{
    margin-top:10%;
    font-family: Helvetica,Arial,sans-serif;
    margin-left:5%;
    margin-bottom: 0;
}

@media only screen and (min-width:0px) and (max-width:420px){
    #containerwish{
    grid-template-columns:repeat(1, 1fr);
     
    }
}
@media only screen and (min-width:421px) and (max-width:674px){
    #containerwish{
    grid-template-columns:repeat(2, 1fr);
     
    }
}
@media only screen and (min-width:675px) and (max-width:1049px){
    #containerwish{
   grid-template-columns: repeat(3, 1fr);     
    }
}


#deletewish{
    width:50%;
    padding:2%;
    margin:auto;
    display: block;
    margin-top: 3%;
    border-radius: 5px;
    border:0;
    background-color:thistle;
}

.price{
    font-size:larger;
}
