#container_vam_6{
    display: flex;
    /* border: solid black 1px; */
    /* margin-top: 100px; */
}
#boxr_vam_6{
    /* border:solid red 1px; */
    width: 40%;
    
}
#boxl_vam_6{
    width: 60%;
    border-right:solid rgba(27, 31, 35, 0.15) 1px;
}
#boxl1_vam_6{
    margin: auto;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 150px;
    padding: 5%;
    margin-bottom: 100px;
}
#gpay_vam_6>button{
    width: 91%;
    margin-top: 30px;
    background-color: #ff3f6c;
    color: white;
    padding: 10px 0px 10px 0px;
    border: none;
}
#table_vam_5{
    width: 400px;
    margin-top: 100px;

    margin-left: 20px;
}
#table_vam_5 th,#table_vam_5 td{

    padding: 6px;
    width: 200px;
}
#table_vam_5 thead{
    text-align: left;
    padding: 12px;

}
#table_vam_5 th{
    color: #535766;
}
.bold_vam_6{
    font-weight: 700;
}
#crd1_vam_6>input{
    display: block;
    height: 35px;
    width: 90%;
    margin-bottom: 15px;
    border:solid rgba(27, 31, 35, 0.15) 1px;
}
#crd2_vam_6>input{
    display: inline-block;
    width: 41.5%;
    height: 35px;
    border:solid rgba(27, 31, 35, 0.15) 1px;
}
#crd2_vam_6>input:nth-child(1){
    margin-right: 5%;
}
#boxl1_vam_6>h6{
    font-size: 14px;
    margin-bottom: 20px;
}
#gotp_vam_6>button{
    width: 91%;
    margin-top: 30px;
    background-color: #ff3f6c;
    color: white;
    padding: 10px 0px 10px 0px;
    border: none;
}
@media screen and (max-width:900px){
    #boxr_vam_6{
        
        width: 30%;
    }
    #boxl_vam_6{
        width: 60%;
        border-right:solid rgba(27, 31, 35, 0.15) 1px;
    }
    #table_vam_5{
        width: 200px;
        margin-top: 100px;
    
        margin-left: 3%;
        margin-bottom: 100px;
    }
    #boxl1_vam_6{
        margin: auto;
        width: 60%;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        margin-top: 100px;
        padding: 5%;
        margin-left: 5%;
        margin-bottom: 40px;
    }
    
    #crd1_vam_6>input{
       
        height: 20px;
       
    }
    #crd2_vam_6>input{
        height: 20px;
    }
    #gotp_vam_6>button{
        width: 41%;
        margin-left: 20%;
        margin-top: 10px;
        padding: 3px 0px 3px 0px;
    }
    
}