/* remove the background color from other pages */
body{
    background-color: #fdefeb;
}
/* --------------------------------------------------------- */
#signup_vam_2{
    border: solid #fdefeb 1px;
    margin: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 120px;
}
#boxu_vam_2{
    /* border: solid white 1px; */
    width: 100%;
}
#boxu_vam_2>img{
    width: 100%;
    height: 200px;
}
#boxd_vam_2{
    background-color: white;
    /* border: solid red 1px;  */
    padding:20px;
}
#boxd_vam_2>h2{
    margin-bottom: 20px;
    margin-left: 40px;
}
.names_vam_2,.email_vam_2,.mobile_vam_2,.user_vam_2,.pass_vam_2{
    width: 80%;
    height: 30px;
    margin: auto;
    margin-bottom: 30px;
    display: block;
}
#btn_vam_2{
    padding: 10px;
    border: none;
    background-color: #ff3f6c;
    color: white;
    font-size: 18px;
    width: 60%;
    margin-left: 19%;
}
@media screen and (max-width:900px){
    #signup_vam_2{
        width: 55%;
    }
    #boxu_vam_2>img{
        height:150px;
    }
    .names_vam_2,.email_vam_2,.mobile_vam_2,.user_vam_2,.pass_vam_2{
        height: 20px;
       
    }
    #btn_vam_2{
        padding: 6px; 
        font-size: 16px;
    }
}